*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
build/
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
.kotlin/
*.log
*.keystore
*.jks
key.properties

# Assinatura: nunca versionar
keystore.properties
